body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.image-container {
    width: 80%; /* Пример: 80% ширины экрана */
    height: 80%; /* Пример: 80% высоты экрана */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Это сохранит соотношение сторон изображения */
}