<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="static/css/styles.css" />
    <!-- Дополнительные стили, если есть -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <section class="container">
        <article class="half">
            <h1>Azure</h1>
            <div class="tabs">
                <span class="tab signin active"><a href="{{ url_for('signin') }}">Sign in</a></span>
                <span class="tab signup"><a href="{{ url_for('signup') }}" onclick="showSignUp()">Sign up</a></span>
            </div>
            <div class="content">
    <div class="signup-cont cont">
        <form action="{{ url_for('signup') }}" method="post" enctype="multipart/form-data">
    <div class="input-wrap">
        <input type="text" name="surname" id="surname" class="inpt" required="required" placeholder="Your surname">
    </div>
    <div class="input-wrap">
        <input type="text" name="name" id="name" class="inpt" required="required" placeholder="Your name">
    </div>
    <div class="input-wrap">
        <input type="email" name="email" id="email" class="inpt" required="required" placeholder="Your email">
    </div>
    <div class="input-wrap">
        <input type="text" name="phone" id="phone" class="inpt" required="required" placeholder="Your phone">
    </div>
    <div class="input-wrap">
        <input type="password" name="password" id="password" class="inpt" required="required" placeholder="Your password">
    </div>
<!--    <div class="input-wrap">-->
<!--        <input type="checkbox" id="remember" class="checkbox" checked>-->
<!--        <label for="remember">Remember me</label>-->
<!--    </div>-->
    <div class="submit-wrap">
        <input type="submit" value="Sign up" class="submit">
<!--        <a href="#" class="more">Forgot your password?</a>-->
    </div>
</form>



                </div>
            </div>
        </article>
        <div class="half bg"></div>
    </section>

    <!-- JavaScript includes -->
    <script src="//code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="js/script.js"></script>
    <script>
        function showSignUp() {
            $('.tabs .tab').removeClass('active');
            $('.signup').addClass('active');
            $('.cont').hide();
            $('.signup-cont').show();
        }
    </script>
</body>
</html>